body {
  background: linear-gradient(to top, #222222, #3d3d3d);
  color: white;
  padding: 0 33px;
  font-family: 'Anton', sans-serif;
  margin: 0;
  min-height: 100vh;
  background-image: url(images/stadium.jpeg);
  background-repeat: no-repeat;
      background-attachment: fixed;
    background-size: cover;
}

button {
  font-family: 'Anton', sans-serif;
  font-size: 16px; }

svg g {
  font-family: 'Anton', sans-serif;
  font-size: 14px; }

svg {
  background-color: #111;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* min-width: 935px; */
  border-bottom: 1px solid #999;
  margin: 0 auto; }

.logo {
  display: flex;
  align-items: center; }

.logo h1 {
  margin: 35px 0 0 0; }

.logo-img {
  height: 50px;
  margin-right: 10px;
}

.profile-links {
  display: flex;
  width: 165px;
  height: 55px;
  font-size: 50px; }

.profile-links a {
  color: rgb(0, 119, 255);
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-align: center;
   }

.profile-links a:hover {
  color: white; }

.main-content {
  height: 750px;
  margin-top: 10px;
  border-bottom: 1px solid #999; }

/* .team-compare { */
  /* min-width: 935px; } */

.header {
  margin: 0;
  font-size: 30px;
  height: 30px;
  text-align: center; }

.team-card {
  display: flex;
  justify-content: space-around; }

.team-card-details {
  height: 740px;
  width: 385px;
  margin: 25px;
  position: relative;
  background-color: rgb(46, 0, 46);
  background-size: 100% 100%;
  border: 3px solid white; }

.team-logo {
  position: absolute;
  background-size: 100% 100%;
  width: 200px;
  height: 200px;
  right: 60px
   }

.team-stats {
  position: absolute;
  background: linear-gradient(to top, black, #282828);
  height: 540px;
  width: 440px;
  left: -30.5px;
  top: 205px;
  color: white;
  font-size: 26px;
  z-index: 1;
  border-radius: 5px;
  border: 3px solid white;
  
}

.team-name {
  position: absolute;
  top: 170px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 26px;
  background: linear-gradient(to top, #222222, #4b4b4b);
  padding: 0 10px;
  width: auto;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  border: 3px solid white;
  z-index: 10; }

.team-stats div {
  margin: 14px;
  background: linear-gradient(to right, #333333, rgba(51, 51, 51, 0.2));
  padding: 0 10px;
  height: 38.5px;
  border-radius: 2px; }

.team-select {
  text-align: center;
 }

.graph-area {
  min-width: 800px;
  position: relative;
}

#graph {
  height: 550px;
  width: 1100px;
  margin: 0 auto;
  margin-top: 25px;
  border: 3px solid white; }

.wins, .losses {
  color: white;
  font-size: 24px;
  margin-left: 14px;
  background: linear-gradient(to top, #222222, #4b4b4b);
  width: 55px;
  text-align: center;
  border-radius: 5px;
  border: 3px solid white; }

.wins {
  margin-top: 12px;
  margin-bottom: 5px; }

.hidden {
  display: none; }

.close-one, .close-two {
  position: absolute;
  right: 0; }

.team-button, .graph-button {
  background: linear-gradient(to top, white, black);
  border: 0;
  outline: 0;
  cursor: pointer;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid white; }

.team-button {
  margin-right: 12px;
  margin-bottom: 12px;
 }

.team-button:hover, .graph-button:hover {
  background: linear-gradient(to top, #4b4b4b, black); }

.team-button:focus, .team-button:active {
  outline: none; }

.active {
  background: linear-gradient(to top, purple, orange);
  color: black;
  border: 2px solid black; }

.active:hover {
  background: linear-gradient(to top, #afafaf, white); }

.graph-buttons {
  display: flex;
  justify-content: center; }

.graph-button {
  width: 66px; }

.graph-button:not(:last-of-type) {
  margin-right: 22px; }

.footer {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  color: #999; }

.footer p {
  font-weight: bold;
  font-family: courier;
  color:white;
  opacity: 0.3;
  font-size: 25px;
}

.graph-legend {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  min-height: 50px; }

.graph-legend p {
  margin: 15px 0; }

.graph-legend p:first-of-type {
  margin-right: 50px; }

.red {
  color: red; }

.dodgerblue {
  color: dodgerblue; }

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100; }

.modal-child {
  position: relative;
  background: #111;
  width: auto;
  left: 50%;
  top: 40%;
  border: 5px solid white;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  padding: 10px;
  font-size: 24px;
  display: inline-block; }

.modal-child * {
  margin: 0; }

.modal-child h1 {
  font-size: 32px;
  margin-bottom: 10px; }